@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to left, #DAD4EF, #C5C392);
}

main {
    background-color: white;
    border-radius: 13px;
    box-shadow: 5px 5px 15px rgba(134, 53, 58, 0.575);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #EF8244;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(189, 104, 54, 0.678);
}

h2 {
    color: #FF006E;
}